[2019-12-01 23:40] vezeli opened #2 "Improving tests"
Consider making tests including e-mail addresses or maybe you made them somewhere but I missed them. As you know, there are corner-stone cases when using regular expressions so it is good to find them :)

Maybe take a look at this [repo](https://github.com/lipoja/URLExtract) and tests, although this one is not bulletproof either https://github.com/lipoja/URLExtract/issues/13.

[2019-12-07 12:47] SuperKogito commented on #2
So when it comes to improving the tests and making them more elaborate, I totally agree. The current tests are just something to start with and I was counting on issues and bug reports to improve them. However, your point about e-mails is not clear to me. The purpose of this action/ library is essentially to extract URLs from a project and check if they are reachable, which is not applicable to e-

[2019-12-07 13:47] vezeli commented on #2
Oh sorry, I didn't explain my self well. I didn't mean to say to ping e-mail addresses. I meant to say that it is not easy to get a good and reliable URL extractor and that URL extractor is a core part of ULRs-checker. About e-mail, e-mails can have similar structures like URLs, especially in the domain part of the email address which could be wrongly taken for a URL.

For example, I went to https

[2019-12-07 17:14] SuperKogito commented on #2
I get it now. You make a very good point here. I will seek to cover this in the next releases.

[2019-12-11 10:19] tinova opened #3 "Whitelist urls"
For instance "https://x.x.x.x/mob/?moid=yyyyy" is an example URL and shouldn't give a warning (it would be nice to be able to curate a whitelist of URLs in the action conf file)

[2019-12-11 10:20] tinova opened #4 "Some URLs break verification"
Feel free to take a look at: https://github.com/tinova/docs/runs/335326174

[2019-12-29 13:37] SuperKogito commented on #4
I think whitelisting these type of links is a possible solution to apply. This will be available the next release that I will publish once I am done testing, unless you have better suggestions on how to handle these?

[2019-12-29 13:39] SuperKogito commented on #3
Whitelisting URLs or patterns (based on included text, or base link) is now available. I would appreciate it if you can take a look at the Readme and let me know what you think of it?

[2019-12-29 13:39] #3 closed, assigned to nobody

[2019-12-29 13:41] SuperKogito commented on #2
I just implemented a new whitelisting feature and tried to diversify the tests and improve them. email addresses do not seem to pose a problem but I would appreciate it, if you can take a look at the new version and let me what you think of it :)

[2020-02-06 16:37] shahzebsiddiqui opened #6 "false positive link"
hi @SuperKogito

I seem to have a link reported to have been broken see https://github.com/HPC-buildtest/buildtest-framework/runs/428310246?check_suite_focus=true but in reality it is working.

The actual link is https://www.hpcwire.com/2019/01/17/pfizer-hpc-engineer-aims-to-automate-software-stack-testing/ which is found but the url-checker is stating it is not found. I see a red X next to it.

I

[2020-02-09 22:56] SuperKogito commented on #6
Hello @shahzebsiddiqui
Thanks for reporting this, I think the error is due to short timeout on the url requests check but I need to further investigate. In the meantime you can upgrade to version 0.1.3 and use the `white_listed_urls` option to hide false positives.

[2020-02-10 14:50] shahzebsiddiqui opened #7 "variable substitution in url field"
Hello,

We have a PR in progress in easybuild see https://github.com/easybuilders/easybuild/pull/591 One of the issues we have is URL-checker can't accept variable substitution. We have configuration files (``.eb``) that build the http url based on few parameters that include `version`  to fetch the tarball for compilation.

Is it possible to fix this issue or is only workaround to ignore these us

[2020-02-11 15:01] SuperKogito commented on #7
I am not sure what do you mean by variable substitution. I get that you automatically generate your links but  what do you mean by "URL-checker can't accept variable substitution"?.  In case you have an idea for a feature, I suggest you open a new issue for a feature request with a clear description of what do you need? and what does it do? with some examples preferably, so I can understand the us

[2020-02-23 16:22] shahzebsiddiqui commented on #6
yea i can do that for time being. It's not a big deal right now. Will close this and wanted to inform you about this bug.

[2020-02-23 16:22] #6 closed, assigned to nobody

[2020-02-23 16:26] shahzebsiddiqui opened #8 "url checker report in Github"
Just a thought, the URLchecker is a nice feature to be honest it is not practical to go into the output of the Action to see the error report. It would be nice to have a bot report all the broken links as part of the check in the PR. The code reviewers and authors would be keen on getting this information in their PR so they can fix their code.

In this case, the bot just reports only failure, if

[2020-02-24 08:18] SuperKogito commented on #8
This is a great suggestion, I totally agree. I have this along other useful features in mind. I will be looking into this first :wink:

[2020-02-24 15:56] shahzebsiddiqui commented on #8
glad i can help. Let me know once you have a new version and I can test it out. I am already using the URLchecker as part of buildtest https://github.com/HPC-buildtest/buildtest-framework and found it to be useful in fixing some bugs.

I think the bot notification in PR would be useful when adding documentation where you will find reference to links that need to be tested.

[2020-02-25 17:12] #7 closed, assigned to nobody

[2020-03-02 09:25] SuperKogito opened #9 "Remove termcolor dependency"
`from termcolor import colored` is present in two scripts. In one it is unused and in the other it can be replaced by a regular print.

[2020-03-06 10:32] SuperKogito opened #10 "Fix 'Starting a process with a shell, possible injection detected, security issue.' issue in check.py"
[CodeFactor](https://www.codefactor.io/repository/github/superkogito/urls-checker/overview/master) found an issue: Starting a process with a shell, possible injection detected, security issue.

It's currently on:
[check.py:21
](https://www.codefactor.io/repository/github/superkogito/urls-checker/source/master/check.py#L21)

[2020-03-06 10:32] SuperKogito opened #11 "Fix 'Do not use apt-get upgrade or dist-upgrade' issue in Dockerfile"
[CodeFactor](https://www.codefactor.io/repository/github/superkogito/urls-checker/overview/master) found an issue: Do not use apt-get upgrade or dist-upgrade

It's currently on:
[Dockerfile:6
](https://www.codefactor.io/repository/github/superkogito/urls-checker/source/master/Dockerfile#L6)

[2020-03-06 10:33] SuperKogito opened #12 "Fix 'Starting a process with a partial executable path' issue in tests\test_check.py"
[CodeFactor](https://www.codefactor.io/repository/github/superkogito/urls-checker/overview/master) found an issue: Starting a process with a partial executable path

It's currently on:
[tests\test_check.py:53
](https://www.codefactor.io/repository/github/superkogito/urls-checker/source/master/tests/test_check.py#L53)Commit 0d770546a642472ca478a8fa8f3773e57cc2012f

[2020-03-06 10:33] SuperKogito opened #13 "Fix 'Comparison to True should be just &#39;expr&#39;' issue in tests\test_check.py"
[CodeFactor](https://www.codefactor.io/repository/github/superkogito/urls-checker/overview/master) found an issue: Comparison to True should be just &#39;expr&#39;

It's currently on:
[tests\test_check.py:21
](https://www.codefactor.io/repository/github/superkogito/urls-checker/source/master/tests/test_check.py#L21)Commit 0d770546a642472ca478a8fa8f3773e57cc2012f

[2020-03-06 10:33] SuperKogito opened #14 "Fix 'The if statement can be replaced with &#39;return bool(test)&#39;' issue in core\fileproc.py"
[CodeFactor](https://www.codefactor.io/repository/github/superkogito/urls-checker/overview/master) found an issue: The if statement can be replaced with &#39;return bool(test)&#39;

It's currently on:
[core\fileproc.py:22
](https://www.codefactor.io/repository/github/superkogito/urls-checker/source/master/core/fileproc.py#L22)

[2020-03-07 23:54] #14 closed, assigned to nobody

[2020-03-07 23:54] #12 closed, assigned to nobody

[2020-03-07 23:54] #11 closed, assigned to nobody

[2020-03-07 23:55] #13 closed, assigned to nobody

[2020-03-07 23:55] #10 closed, assigned to nobody

[2020-03-07 23:56] #9 closed, assigned to nobody

[2020-03-07 23:59] SuperKogito commented on #8
This is available in the latest release 0.1.4, please refer to the README for the documentation and this [URLs-checker-test-repo](https://github.com/SuperKogito/URLs-checker-test-repo) if you need an example. feel free, to ask and report on this feature here.

[2020-03-08 01:17] shahzebsiddiqui commented on #8
I have updated the version see https://github.com/HPC-buildtest/buildtest-framework/pull/202 do you have Release notes on the changes between the version. I can see that now its reporting only failures, before it was reporting all URLs including passed and failures. It certainly helps narrow down the result. I also see that the URLcheck is now failing due to the error before it was passing even if

[2020-03-08 01:43] vsoch opened #15 "Retry if failed parameters?"
hey @SuperKogito ! We are using your action for buildtest, and I'd like to also test it for usrse https://github.com/USRSE/usrse.github.io/issues/171 where we've been using html-proofer. The issue with proofer is that it doesn't have any understanding / implementation for a retry - many of the links in our static site are old HPC documentation or other servers that don't always respond reliably, a

[2020-03-08 19:07] shahzebsiddiqui commented on #8
@SuperKogito also i see many urls that are valid that are falsely reported as a broken link. I think there is something that needs to be looked at.

Please see https://github.com/HPC-buildtest/buildtest-framework/pull/202/checks?check_run_id=492841895

[2020-03-08 19:20] shahzebsiddiqui commented on #8
I tried to add a white list for some of the URLs which i know are valid but it still reported them as failure. See https://github.com/HPC-buildtest/buildtest-framework/pull/202. I used ``whited_listed_urls``.

[2020-03-09 00:43] SuperKogito commented on #8
I can see that the transition to v0.1.4 was not as smooth as I expected. I noted all your feedback and hopefully I will be looking into fixing these issues in the upcoming days.

[2020-03-09 00:50] shahzebsiddiqui commented on #8
@SuperKogito it would help to note if the URL is breaking due to trailing / at end of link or not.

For instance i see the following

[code]

The link is valid if you navigate to https://lmod.readthedocs.io/en/latest/030_installing.html i see many other links that are false positive. Even link to marketplace failed such as the URLchecker

[code]

[2020-03-09 01:10] SuperKogito commented on #15
Hello @vsoch,
I am glad you are interested in using  [URLs-checker](https://github.com/urlstechie/URLs-checker) :smiley: .

Well a retry on fail is possible to implement by editing [urlproc.py#L46](https://github.com/urlstechie/URLs-checker/blob/3200baf59d73c3e8c0fd92e9ce73c375603b4b2b/core/urlproc.py#L46). The edit should consist of adding a while loop that a termination using a user defined inpu

[2020-03-09 01:18] vsoch commented on #15
Great! I can take a first shot, hopefully something this week.

[2020-03-09 18:32] vsoch opened #16 "Check results returned before loop completed"
I'm not sure if this is intentional, but the list of check_results is returned after just parsing one of the urls in the list:

https://github.com/urlstechie/URLs-checker/blob/3200baf59d73c3e8c0fd92e9ce73c375603b4b2b/core/urlproc.py#L59

Assuming that there is one list of urls, wouldn't we want to go through all of them, update check_results as we go, and return the final two lists? I'm working on

[2020-03-09 18:59] vsoch commented on #8
@SuperKogito and @shahzebsiddiqui we originally ran into the issue of having comma _and space_ separated links in the whitelist, and I suggested testing without the space only because it would make sense for a bash envar to not have spaces. One follow up to that, I noticed while working on #17 that the whitelisted urls example does show spaces, so as part of my PR I fixed that up.

@SuperKogito if

[2020-03-09 19:12] SuperKogito commented on #16
You are totally right :+1:  That return should be outside of the for loop. That explains some of the weird behaviours mentioned in #8. I will be looking to your PR.

[2020-03-10 17:34] vsoch opened #18 "Missing parameter for recent retry update"
I'm going to open a PR to fix this ASAP

[code]
I wish GitHub actions had some way to check this outside of actions.

[2020-03-10 18:21] SuperKogito commented on #18
The good thing about our code structure is that you can use the pytests for that or use the check.py in offline mode. By offline mode here, I mean to comment the env variables at the beginning and replace them with some hard coded variables or even better variables read from a config file and that way you can run tests on your machine on any GitHub repo you want.

[2020-03-10 18:30] vsoch commented on #18
Just finished work - all looks good! I'll open a PR right now - there were some other changes I made to make the interface easier to see failures, etc. Stay tuned!

[2020-03-10 19:25] vsoch opened #20 "URLchecker has no concept of branch"
Currently, we are checking out a git repo directly:

https://github.com/urlstechie/URLs-checker/blob/master/check.py#L15

However, this has no concept of branch - we would want to check out the branch for whatever PR is being run. We noticed this when running a PR for the devel branch, but seeing the current content of master.

I can open a PR to fix this up, maybe we can get it integrated with th

[2020-03-10 19:31] vsoch commented on #20
One other small detail - the git path is used for the clone, for a PR from a different user this would not work. If we trust the url check to be run for someone else's repo, then it's safe to change this to default to whatever the github repository of the PR is set to be.

[2020-03-10 19:49] vsoch commented on #20
hey @SuperKogito - I'm curious, why do you require a clone and then delete of a repository anyway? This could be easily handled by just using the `actions/checkout@v2` repository, and then you can run the url checker directly without needing to specify a custom branch or url. It (I think) will typically be the case that we want to run it on the repository in question. As another option, we could m

[2020-03-11 00:43] #16 closed, assigned to nobody

[2020-03-11 01:12] vsoch commented on #18
This is now fixed!

[2020-03-11 01:12] #18 closed, assigned to nobody

[2020-03-11 01:13] vsoch commented on #15
This is merged into master, so closing issue. We can open a separate issue if something needs fixing or update.

[2020-03-11 01:22] SuperKogito commented on #20
I agree to the points raised here. I am still not sure about the alternative solution you suggested tbh, I still think it has some drawbacks and users will only test the repository where the action is defined (which -to your point- is supposed to the case).

The reason why I used cloning and removing folders in the first place, was just because it was simple and easy to implement for me, so I did

[2020-03-11 01:26] vsoch commented on #20
Let me think about the python package - it could be useful and would require a small refactor of the client (I could help with this).

Let’s focus on the action for now. I’d like to propose allowing to specify an optional git path and branch, and if they aren’t specified, assuming that we run in the present working directory. I can open a PR for this with an updated example tomorrow!

For the pyth

[2020-03-11 01:34] SuperKogito commented on #20
Do we need to change something for the action to run on a certain branch?
If I am correct, this seems to be already covered by Git. Please refer to [link1](https://help.github.com/en/actions/reference/events-that-trigger-workflows) and [link2](https://stackoverflow.com/questions/58139406/only-run-job-on-specific-branch-with-github-actions).

[2020-03-11 01:38] vsoch commented on #20
The workflow just needs the actions checkout https://github.com/actions/checkout to be the first step, and then the correct repo and branch is present in the container (mounted as a volume) in the container (and there is an environment variable they recommend using https://help.github.com/en/actions/configuring-and-managing-workflows/using-environment-variables). I’ll put full examples and docs fo

[2020-03-11 01:42] SuperKogito commented on #20
That will be a great help. I think it would good to have the example(s) in the README, that way the users won't have to look for it.

[2020-03-11 01:43] vsoch commented on #20
Will do!

[2020-03-11 01:43] SuperKogito commented on #20
Btw are you okay for a new release once I finish some checks and fixes?

[2020-03-11 03:16] SuperKogito commented on #15
The urls were not all printed during the checks. This was due to the initialization of `do_retry` and `retries_count` being outside the urls loop

[2020-03-11 03:17] SuperKogito commented on #15
This should be solved in #21

[2020-03-11 03:17] #15 closed, assigned to nobody

[2020-03-11 03:19] SuperKogito opened #22 "fix code coverage reports generation"
there seem to be that codecov is not linked/ configured correctly.
The move from my personal folder to @urlstechie seems to be the cause.

[2020-03-11 03:20] vsoch commented on #15
Ack, thanks for fixing it up! The repo I tested on didn't have any retries so I missed it.

[2020-03-11 03:22] SuperKogito opened #23 "Export results to a file and commit it to git repo"
A possible improvement is to export the checks results into a `.txt` report that will be committed to the folder.

[2020-03-11 03:24] SuperKogito commented on #15
no worries, hopefully it is bug-free now, I will release it and go to sleep. Feel free to run some tests around and let me know how it goes ;)

[2020-03-11 03:28] vsoch commented on #23
This should be optional I think - likely there will be users that want the report just for the interface, and others for other actions to handle (it would be treated as an output param for some next action).

[2020-03-11 03:30] vsoch commented on #15
Sounds good! I will likely be able to test it fully with actual projects for other orgs once we get the branch fix in - most testing set ups are testing a non standard (non master) branch so they'd want to just use actions/checkout@v2. More tomorrow! Good night!

[2020-03-11 20:38] vsoch commented on #15
okay I've opened #24 - it was tested on buildtest and adds what we discussed plus some other fixes that I ran into while testing. The test is timing out so I'll need your help to take a look!

[2020-03-11 20:44] SuperKogito commented on #23
I agree, this should be optional.

[2020-03-14 11:16] SuperKogito commented on #22
This is is fixed in e467d3f0c61952abb6892d351c9f50e1f2cff935

[2020-03-14 11:16] #22 closed, assigned to nobody

[2020-03-14 11:17] SuperKogito commented on #2
fixed in e467d3f0c61952abb6892d351c9f50e1f2cff935 with 91% coverage

[2020-03-14 11:17] #2 closed, assigned to nobody

[2020-03-14 11:18] SuperKogito commented on #20
@vsoch  version 0.1.6 is out, feel free to run some tests and report on the branch feature and the overall functioning of the action.

[2020-03-14 11:21] SuperKogito commented on #8
@ vsoch I think your use of `url.strip()` solved these issues in #17, the issues mentioned here seem to be solved. @shahzebsiddiqui  @vsoch  if you can confirm that, please close this.

[2020-03-14 13:42] vsoch commented on #8
Yes this is correct! This was fixed and now merged into master, thanks @SuperKogito!

[2020-03-14 13:42] #8 closed, assigned to nobody

[2020-03-14 13:43] vsoch commented on #20
Woot! Yes I’ll get this tested asap!

[2020-03-14 13:54] vsoch commented on #20
it worked beautifully for buildtest! Here is a screenshot if you'd like one of the retry - note that we got a timeout (443) and then the retry was successful (green)

![image](https://user-images.githubusercontent.com/814322/76683336-f49cc200-65c8-11ea-9117-0068e1247fa7.png)

Also note this was done via a checkout on a custom branch of a PR. I'll copy paste the config here in case others want to f

[2020-03-14 13:54] #20 closed, assigned to nobody

[2020-03-14 14:24] vsoch opened #26 "Newlines not being stripped"
Testing release 0.1.6, even though there is a strip (that in manual testing will remove a newline) it appears that there is still a newline character -

![image](https://user-images.githubusercontent.com/814322/76683894-22840580-65cd-11ea-9ceb-c06e2003ce39.png)

[2020-03-14 14:42] vsoch opened #27 "Add white listed files and patterns variable"
Currently, I can add _config.yml and README.md to my white_listed_patterns, but the files /github/workspace/_config.yml and /github/workspace/README.md are still checked. I suspect it's looking for the full path or starts with, and as a user I'd expect it to do more of a re.search (using my pattern). E.g., this should work without /github/workspace

[code]

[2020-03-14 14:44] vsoch commented on #27
It also appears that doesn't work with the full paths - I'm going to try adding these paths to the white list explicitly.

[2020-03-14 14:50] vsoch commented on #27
Ah actually I am mistaken here - the patterns are for the URLs of course! What we need is a pattern for the _files_ as well, something like:

[code]

[2020-03-14 14:55] vsoch opened #28 "Failed urls print should be visually separate"
Currently, when we print the list of URLS that don't pass, it gets sort of lost in the same block as the last check. Here is an example:

![image](https://user-images.githubusercontent.com/814322/76684410-7e508d80-65d1-11ea-9060-c0ad9b7c28c2.png)

We should have a newline (and possibly a header that stands out) for this section.

[2020-03-14 15:59] vsoch commented on #28
@SuperKogito I'll take care of this with my next PR.

[2020-03-14 15:59] vsoch commented on #27
I have good examples of generating these newlines so I'm assigning myself to figure it out.

[2020-03-14 16:52] vsoch opened #29 "black linting"
@SuperKogito what are your thoughts on adding black for code formatting? It will be easier to enforce a standard for code style, and make the code a bit easier to read. We are doing a fairly good job of keeping it need, but some of the sections with input arguments are a bit crunched and would benefit from black. There are a few levels we can add it:

 - enforced as check with GitHub workflow acti

[2020-03-14 17:15] vsoch commented on #26
okay just figured this out, will put in a PR soon. The issue is that the characters actually look like this:

[code]

[2020-03-14 17:20] vsoch commented on #27
Update here - we don't need patterns AND files, we can just add `white_listed_files` and then do a regular expression search with a giant OR of all patterns. This would work for a direct / complete file path OR a regular expression for it.

[2020-03-14 19:21] SuperKogito commented on #29
I am currently using codacy to keep an eye on the quality. Please check this link: https://app.codacy.com/gh/orgs/urlstechie/dashboard
Codacy uses Pylint which follows the style recommended by PEP 8. I have seen black used in a couple of projects and it seems to be getting attention, but what additional advantages would that give us?

[2020-03-14 19:24] SuperKogito commented on #27
Can you please elaborate on why we don't need files AND patterns, as I actually would like to have both for the sake of consistency (since we do the same with links).

[2020-03-14 19:48] vsoch commented on #29
No you're totally right - the checks you are running work great (I didn't see them before). My one concern is with coverage, because if we put params on more lines so it reads more cleanly, that seems to decrease it. Anyway, let's close the issue here because we don't need black.

[2020-03-14 19:48] #29 closed, assigned to nobody

[2020-03-14 19:48] vsoch commented on #27
re.search() can handle both. It would be redundant. Can you give me an example where that would not work?

[2020-03-14 20:49] SuperKogito commented on #27
It is just an intuition but I am not sure. We can simply merge and test it.

[2020-03-19 20:18] #27 closed, assigned to vsoch

[2020-03-19 20:18] #28 closed, assigned to vsoch

[2020-03-19 20:18] #26 closed, assigned to vsoch

[2020-03-19 20:21] SuperKogito commented on #4
consider upgrading to the latest version of URLs-chercker. These breaks should be solved. Feel free to re-open this if it is not the case but also please post the logs ;)

[2020-03-19 20:21] #4 closed, assigned to nobody

[2020-03-19 21:04] vsoch opened #31 "Ping me when there is release 0.1.7"
hey @SuperKogito I saw there was lots of good work today! Could you ping me on this issue when the latest two commits are released? I can then test the released version on the repos where they are needed. Then we can chat more about creating a module, if you are still interested.

[2020-03-20 02:01] SuperKogito commented on #31
I won't be able to make the release tonight :/ I still have some fixes to do. I will do it tomorrow and will make sure to ping you here. I am still interested in the module. We can discuss it tomorrow ;)

[2020-03-20 12:00] SuperKogito commented on #31
@vsoch  v 0.1.7 is out  :smile:

[2020-03-20 12:23] SuperKogito commented on #31
- Can you please confirm, that when trying to import the action; you don't get a nicely formatted call example?
- v0.1.7 is out, I count on your testing feedback to see if the action works as expected.
- We now have online hosted docs hosted on https://urls-checker.readthedocs.io/
- urlstechie has also a website now: https://urlstechie.github.io/
- Concerning the python package how do you want to

[2020-03-20 17:54] vsoch commented on #31
Going to give it a test!

[2020-03-20 18:12] vsoch commented on #31
okay, works great! The one kind of site that I'm having issues with (white listed for now) is this, for example:

https://pace.gatech.edu/xsedeosg-architect

If you browse to the site, all seems well, but with requests (even with a human User Agent and retry) it will have an SSL error and ultimately fail. I'm not sure if there is a way to catch this, but for now I'm whitelisting.

For the Python p

[2020-03-20 18:28] SuperKogito commented on #31
So I actually had this same idea in my mind but I am not sure about only one point:
- If we use the same package in the action (which will simplify things but also limit the flexibility) will we be able to use the python package as a terminal tool? something like [ffmpeg-normalize](https://github.com/slhck/ffmpeg-normalize) ?

[2020-03-20 18:31] vsoch commented on #31
Yes that is exactly my thinking - I'd want to be able to run a command locally that mimics the action. Then using the action is just a wrapper for that.

For sharing / getting the word out, I'd say we would want to first develop (and test) this package, update the action, create a list in the docs / README to show where it's used by, and then write up a blog post (or similar) to share on social me

[2020-03-20 18:39] SuperKogito commented on #31
It is good that we agree on that. So I think it is on you to lead this since you have more experience and I will assist you.
I am not familiar with the promoting aspect; all I have done so far is pot some links about my projects on reddit and some other social media but the impact was not as huge as I hoped for. I totally agree that a good package sells itself so I guess we will work on having a n

[2020-03-20 18:45] vsoch commented on #31
okay sounds good! I'll get started soon.

[2020-03-20 18:48] vsoch opened #34 "When python library exists, consider renaming for action"
When we have more than one repository (this one here) and we refactor the action, we might possibly want to consider renaming this repository (while it's still early and we can track down users and make sure they update names) to something that strongly indicates "I'm a GitHub action." E.g.,

 - urlschecker-python: --> deploys urlschecker python module
 - urlschecker-action -> GitHub action

And t

[2020-03-20 18:51] SuperKogito commented on #34
I agree, I have been having thoughts about that actually because I am not comfortable with uppercase letters. What about the organization name? any thoughts about that?

[2020-03-20 18:59] vsoch commented on #34
I am not a fan of the uppercase letters either! I think urlstechie is nice, urlchecker is already taken, and urlschecker isn't, but "techie" is shorter, and also gives more freedom to write different kinds of tools for generally working with urls (beyond checking). If you aren't content with it I can try to think about other options, but I think it's a pretty good choice :) If you want something s

[2020-03-20 19:11] SuperKogito commented on #34
This is a great list actually, I think we have the same ideas. I am okay with urlstechie but  I needed some confirmation and a different opinion. I also mentioned it just so you know that i am open to do name changes if needed/ if something better is available. For now urlstechie seems to be cool enough.
I will change the action name to `urlschecker-action` in the next release as it seems more inf

[2020-03-20 19:11] vsoch commented on #34
One quick additional point to discuss - for the python module, I was thinking `urlchecker` would be shorter, more succinct than `urlschecker`. Do you have preference over urls vs url for the prefix?

[2020-03-20 19:11] SuperKogito commented on #34
btw did you check for those names manually or using some tool? cuz that seems to be a cool useful tool to implement if it doesn't exist lol

[2020-03-20 19:12] vsoch commented on #34
Haha, I just manually went to the pages and looked for 404s. I also sometimes (when I'm creating an org) just use the GitHub page to create/name, and it updates dynamically with a red X or green check if it's available. So probably they already have that implemented internally.

[2020-03-20 19:14] SuperKogito commented on #34
I do not have a preference urlschecker seemed easier on the ear (at least mine). To your point, I think shorter/simpler is better, so if you think it is better we can make the change. I was also thinking of `ucheck` or `uchecker` ?

[2020-03-20 19:15] vsoch commented on #34
I do think we need to preserve url in it's entirety, if I heard something like "ucheck" I'd respond "Who, what, me?" :P

[2020-03-20 19:17] SuperKogito commented on #34
lol, `urlchecker-python` and `urlchecker-action`it is then?

[2020-03-20 19:23] vsoch commented on #34
That sounds good to me!

[2020-03-21 15:21] SuperKogito opened #35 "Add logo for the action?"
This is my suggestion for the action logo. We cannot set it in the marketplace but it is still a nice addition imo.
![action logo](https://user-images.githubusercontent.com/15731839/77229775-01ed1a00-6b90-11ea-8c4e-ebca61c08a09.png)

[2020-03-21 17:58] vsoch commented on #35
Ah, so - I love GitHub, but the Octocat with actual tentacles I find a little creepy (not sure why, always have!) so if it's okay with you, I really appreciate taking the time to make this guy, but I'm not sure he's quite right for a logo. Maybe just use the elegant link that you made, with some different context? Or side table for now (the Github action.yml lets you specify an icon and color).

[2020-03-21 18:09] SuperKogito commented on #35
lol I see, well either ways I intended to keep the current action logo. The image/ logo I  am referring to is what comes up when the project pops in a certain topic search. Since you don't feel this logo, we will use the urlstechie one.
Btw is it possible that you make the urlchecker-action use the urlchecker-python tonight? that way I can go over the changes tonight and and see what can i update,

[2020-03-21 19:05] vsoch commented on #35
I can try! I actually would have done it in the last 2 hours but someone asked me to review a document, and that took a really long time. I'll definitely start working on it soon, I don't know if I can promise tonight, but I'll promise as soon as I can :)

[2020-03-21 22:59] vsoch commented on #34
We're ready for rename! `urlchecker-action` it is!

[2020-03-21 22:59] #34 closed, assigned to nobody

[2020-03-21 23:00] vsoch opened #37 "Consider removing docs folder"
I don't think it's relevant here anymore - it's completely represented in https://github.com/urlstechie/urlchecker-python. I wasn't 100% sure so I didn't want to delete.

[2020-03-21 23:01] SuperKogito commented on #37
I think you are right. I will take it down :+1:

[2020-03-21 23:05] vsoch commented on #31
Just an update for some testing - I updated the name of the action (for the previously deployed 0.1.7 under the previous repository name) and the update works!

https://github.com/USRSE/usrse.github.io/pull/179/checks?check_run_id=524640888

So my intuition is that we should (if possible) update previous deploys of the action, just to be careful. I'll update buildtest now.

[2020-03-21 23:07] SuperKogito commented on #31
That's great news :smile:

[2020-03-21 23:09] vsoch commented on #31
I'm going to close this issue - if there were subpoints you want to continue talking about, let's open a new issue and ping me again

[2020-03-21 23:09] #31 closed, assigned to nobody

[2020-03-21 23:19] vsoch commented on #37
okay I opened a PR that will remove #38 - when that is merged we can close here.

[2020-03-21 23:26] SuperKogito commented on #37
merged :+1:

[2020-03-21 23:26] #37 closed, assigned to nobody

[2020-04-05 15:29] SuperKogito opened #41 "fix 0.1.8 to use urlchercker 0.1.14"
@vsoch  I updated, fixed some bugs and tested urlchecker-python. I also automated the quay.io docker builds and released a new version on pypi 0.1.14. I edited the action to use this version and tested it on https://github.com/urlstechie/urlchecker-test-repo/ but it is failing, I am not sure what did I miss and since you are more familiar with the new structure, can you please take a look ? Here a

[2020-04-05 15:52] vsoch commented on #41
You introduced a bug by changing Boolean arguments to be strings with default of False, eg   "--cleanup" should have a store_true. This version you just released is entirely broken so I suggest you revert it back and re release, and please let me review next time before you make such changes :/

[2020-04-05 15:56] vsoch commented on #41
You broke the client so I think you should be the one to fix it, if you revert back to how it was you should be fine. The extra code you added for the parser seems excessive - it is already setup to handle Boolean arguments. A flag is either present or not, the user does not provide “True” of “False” on the command line. I’m a little upset about this so I hope that you can take charge to fix it.

[2020-04-05 16:06] SuperKogito commented on #41
I did not like the `store_true`alternative because the input was confusing and not consistent. For example:
using `store_true`: I had to call: `urlchecker check . --subfolder=tests true ...` in this case the use should assume which variable he is assigning and maintain the order which is not very flexible, don't you think?
but in the new version: I can write : `urlchecker check . --subfolder=tests

[2020-04-05 16:09] vsoch commented on #41
That is how boolean variables work to provide a flag. Flags are standard in command line software and no user is going to expect to write --flag "True" it's not logical.

[2020-04-05 16:12] SuperKogito commented on #41
Okay. I will take your word for it. But then I will add some more documentation because it was confusing to me personally.

[2020-04-05 16:14] vsoch commented on #41
Sure thing! More documentation is fine, but I can guarantee you that most of the command line using world is not used to seeing boolean flags represented with `--cleanup true`. The boolean is also provided to the function, e.g., `cleanup=True` and not "cleanup="true"" that then needs to be parsed into a boolean. I think you are confused because the GitHub action has the user specify true and we ha

[2020-04-05 16:17] SuperKogito commented on #41
I can revert all the fixes. It will probably be easier since I messed them up. I will revert my fixes (*mistakes) and let you know ;)

[2020-04-05 16:19] vsoch commented on #41
I already fixed them! Don't do anything it's fixed.

[2020-04-05 16:20] vsoch commented on #41
Do you mean in the action? I haven't looked at that yet (I was talking about urlchecker-python). Sorry I'm a bit anxious. :/

[2020-04-05 16:25] SuperKogito commented on #41
it is okay, no worries. I will let you deal with the python module and I will submit a PR later if something is still there. I need to fix the action cuz I guess somehow I managed to break it all today.

[2020-04-05 17:05] vsoch commented on #41
I think we're fixed - the action is working again, and urlchecker python has working containers and pypi release. I'm going to close the issue here, and try to go back to try and relax a little this morning, and catch up with the work I needed to do.

[2020-04-05 17:05] #41 closed, assigned to SuperKogito

[2020-04-05 18:09] vsoch commented on #23
This is implemented, the user can add the "save" argument to save results to file.

[2020-04-05 18:09] #23 closed, assigned to nobody

[2020-04-05 18:10] vsoch opened #43 "Additional tests needed for .github workflow"
Currently, we do one run that does basic checks for the testing repository. We would want to add additional runs that:

 - use save and verify that the file exists
 - use cleanup to verify that the repository is deleted
 - others that might be useful

We absolutely don't want any PRs being merged that possibly break any previous functionality.

[2020-04-05 18:31] SuperKogito commented on #43
yes, the coverage is quite low atm and I intend to work on improving it.
I can take on this if you don't mind.

[2020-04-05 18:37] vsoch commented on #43
Yes that would be great! And don't forget to do feature branch and PR, and I'll be sure to give a speedy review :)

[2020-04-09 17:37] maelle opened #44 "Can the URL checks run on the files added/edited by a PR only?"
Sorry for asking without trying first!

I found this repo via https://vsoch.github.io/2020/urlchecker/, it looks really cool 👏

[2020-04-09 17:39] maelle commented on #44
For context I was thinking that for a website I'd probably set a CRON job (monthly or so) to check all files whereas in a PR I'd be interested in new files, maybe with a check run depending on PR comments like https://github.com/tidyverse/ggplot2/blob/master/.github/workflows/pr-commands.yaml

Anyway, looking forward to trying this out.

[2020-04-09 17:53] vsoch commented on #44
hey @maelle - you could definitely have the trigger happen by way of a scheduled github workflow (akin to a cron job) that checks your repository every so often for broken links, and also it's useful to have the same function happen in a PR. We don't currently have any kind of flag that checks files based on a timestamp, but we do have whitelisted patterns that would skip. If a timestamp check wou

[2020-04-09 18:16] maelle commented on #44
Thank you!!

In a PR I was thinking maybe some sort of git magic would reveal which files are "touched" by the PR?

[2020-04-09 18:54] vsoch commented on #44
You could try for that, but it would at best be a hack (I've tried doing similar with grepping output from git and it's not as reliable as I'd want). But if you instead used git log to get the last commit from some branch (let's say master):

[code]
You could then parse that to get the date:

[code]
And that could be piped to the command:

[code]
And we could then have a since argument for the act

[2020-04-10 04:19] maelle commented on #44
Yes, that's a good workaround! :pray:

Out of curiosity, why is using git less reliable than you'd want? And how does GitHub show which files were edited?

[2020-04-10 04:21] vsoch commented on #44
Well, without a flag like I suggested, how would you implement this?

[2020-04-10 04:54] maelle commented on #44
passing file paths directly to the checker? but I'm really naive as to what's possible with the git log.

[2020-04-10 04:58] vsoch commented on #44
Actually that’s a good option too! If we had an explicit option to check a specific file (or pattern that could also be direct path to a file), you could loop through some set and check for each one. That might be more useful than the hard coded date idea. I’m going to bed now but if this would be useful to you I can work on it soon.

[2020-04-10 05:00] maelle commented on #44
I think yes it'd be useful but not urgent.

Working on the CRON job for a site now :-) Good night and thank you!

[2020-04-10 05:17] maelle opened #45 "Example in README"
In https://github.com/urlstechie/urlchecker-action#example-with-checkout there's a mention of v0.1.9 but the latest release is 0.1.8. :-)

[2020-04-10 05:19] vsoch commented on #45
Definitely a typo, sorry about that. Will fix tomorrow.

[2020-04-10 05:20] maelle opened #46 "Should git_path default to current repo?"
this way it'd be easier to copy-paste the workflow file from one repo to another (a lazy question, yes).

[2020-04-10 05:22] vsoch commented on #46
If you don’t set it it assumes the current repository and branch that are checked out, yes. That variable is there if you want to run URL checker for a different repository then the action is running in. There is the same variable for branch.

[2020-04-10 05:28] maelle commented on #46
So if I don't set it I need to first run the checkout action, now I get it :woman_facepalming: thanks and sorry

[2020-04-10 05:28] #46 closed, assigned to nobody

[2020-04-10 05:38] maelle commented on #44
For info, monthly checks: https://github.com/maelle/simplymaelle/blob/master/.github/workflows/main.yml, thank you :-)

[2020-04-10 05:43] maelle commented on #44
Not related to url checks (and not expecting an answer now), there's no way to set up GitHub actions notifications settings by repo, too bad (for most repos I only want notifications for failed runs). Ideally the URL checks would run once a month and then I'd get a notification that it passed, so I'd remember to go look at the log. At the moment I think that I'd need a calendar reminder to go with

[2020-04-10 05:47] maelle opened #47 "option to only print red URLs?"
Could there be an option to only print the URLs for which there was a failure? This way it'd be easier to go through them for a website that has many URLs?

[2020-04-10 05:54] vsoch commented on #47
They are all printed in summary at the end, but yes we could definitely have a print fails only option!

[2020-04-10 11:56] SuperKogito commented on #44
**I just want to answer your initial question:**
So this is theoretically possible but it will need you to construct your own workflow that will pass some variables to urlchecker. With the action current format, there is no straight forward solution.
I suggest using the following [post](https://stackoverflow.com/questions/41139485/how-can-i-see-all-modified-files-from-a-git-pull-request) to get th

[2020-04-10 12:20] SuperKogito commented on #47
I think a better option here is to set some sort of print levels, or better print style something `--prints-style` that can take value like `all`, `fails-only`, maybe `success-only` too?

[2020-04-10 12:29] SuperKogito commented on #44
In this link https://help.github.com/en/github/receiving-notifications-about-activity-on-github/choosing-the-delivery-method-for-your-notifications they mention how to restrict emails to receive only failed workflow runs, hope this is what you are looking for or at least it helps ;)

[2020-04-10 13:20] maelle commented on #44
Thanks! I only get web notifications from GitHub (using beta notifications). The url checks action is not a failed run, so I'll need to remind myself (with a calendar or so) to go look at its log on the 1st of each month. Not that bad, really!

[2020-04-10 19:35] vsoch commented on #44
@maelle the PR here https://github.com/urlstechie/urlchecker-python/pull/28 will add the `--files` option that will let you derive a list in any way that you see fit, and then run the checker just for each of the files. Once that PR is merged, the container is automatically built to Quay.io, and that means I can open a PR on this repository (it's actually all ready to go!) that exposes the --files

[2020-04-10 19:36] vsoch commented on #47
@SuperKogito I think this idea is spot on - after we review and merge https://github.com/urlstechie/urlchecker-python/pull/28 would you care to work on this for urlchecker-python? I think the variable might be something like `--print-level` to mirror the idea of logging levels.

[2020-04-10 19:40] vsoch commented on #47
I'm going to transfer this issue to urlchecker-python, as it needs to be implemented there. As a follow up it will need to be added here.

[2020-04-10 21:03] vsoch commented on #44
@maelle the action is updated here to allow you to specify `include_files` - would you care to test it out? I'd recommend a workflow step that first derives a comma separated list (no spaces!) of files and/or patterns, and then runs the action in the next step (version 0.1.9) using that set parameter. if you get something working please ping and share the example so we can provide it here for othe

[2020-04-10 21:09] vsoch commented on #45
This is now fixed, because we actually have that release! Maybe I was just thinking ahead :)

[2020-04-10 21:09] #45 closed, assigned to nobody

[2020-04-10 21:10] vsoch opened #49 "Update Codeacy to only check code files"
I'm not actually sure how to do this, so @SuperKogito it's all you! When you make changes and PR, I'm interested to see how to go about this!

[2020-04-10 21:32] SuperKogito commented on #49
well I deactivated Codacy on PRs, so you should not see it from now on. I only kept it for the master.

[2020-04-10 21:44] vsoch commented on #49
What would be the workflow for having it on master only?

[2020-04-10 21:45] vsoch commented on #49
So when there are codeacy issues, you'll be altered (how?) on merge to master, and then open another PR to fix?

I think if possible we should keep the integration, but only run for a whitelisted set of files, and run on PR.

[2020-04-10 21:56] SuperKogito commented on #49
If you click a commit checks (the tiny red X or green mark next to a commit), you will be able to access the logs of codacy, which means you can still take a look at the reports but they won't be in the way when you make a PR.

in case you want to keep it in PRs and know which files you want to run/not run the checks for then I will need a specific list/folder, because I am not sure which ones do

[2020-04-10 21:59] vsoch commented on #49
okay let's do the list - because I would want to know if something is wrong with entrypoint.sh, for example.

 - entrypoint.sh
 - action.yml
 - .github/workflows/main.yml
 - Dockerfile

How's that? Short and sweet!

[2020-04-10 22:03] vsoch commented on #49
@SuperKogito and sorry for all the fussing today, I think early in projects there are always a lot of little tweaks and need for updates like this, and the important thing (that I always remember) is that with every change we are moving in the direction of better! :)

[2020-04-10 22:07] SuperKogito commented on #49
Okay so that's the list of files to run the checks for right? just to be sure?
No worries, main thing is that we have a good all around tool that keeps getting better with each release <3

[2020-04-10 22:15] SuperKogito commented on #49
okay Codacy will run on PRs but only for the files you mentioned:

<a href="http://i.imgur.com/twPmbcQ.png">
  <img src="http://imgur.com/twPmbcQl.png" />
</a>

<a href="http://i.imgur.com/NldNbx5.png">
  <img src="http://imgur.com/NldNbx5l.png" />
</a>

I will close this for now. In case this causes problems again, feel free to re-open this ;)

[2020-04-10 22:15] #49 closed, assigned to SuperKogito

[2020-04-11 04:15] maelle commented on #44
Thanks a lot, I'll do that, probably next week though. The links in https://github.com/urlstechie/urlchecker-action/issues/44#issuecomment-611998894 will help me a lot (unless I go with the API and jq).

[2020-04-13 13:57] SuperKogito opened #51 "Accessing results file as artifact"
Thanks, very cool! My plan is to write a workflow uploading the csv as artifact. :-)

_Originally posted by @maelle in https://github.com/urlstechie/urlchecker-python/issues/24#issuecomment-612742661_

I'm trying to write a workflow uploading the artifact and have a question. I tried various things and might be missing something obvious regarding paths.

[Workflow](https://github.com/r-hub/docs/bl

[2020-04-13 14:00] SuperKogito commented on #51
@SuperKogito
Member
SuperKogito commented 1 hour ago •

This might be what you are looking for, the description fits the use-case but tbh I am not sure how exactly to do the mentioned chmod step. Maybe this can give you a hint, https://github.community/t5/GitHub-Actions/Access-to-path-denied-during-artifact-upload/td-p/33562
This also seems similar, https://gitlab.com/gitlab-org/gitlab-runner/issu

[2020-04-13 15:07] vsoch commented on #51
@SuperKogito it's work to just use a relative path, the troubles you are listing are just related to general difficulty with using GitHub workspace vs. clone directory. See https://github.com/urlstechie/urlchecker-action/blob/master/.github/workflows/main.yml#L22 for how simple this is to do.

[2020-04-13 15:08] vsoch commented on #51
I don't think this is a bug with the library - can you please explain why you opened an issue?

[2020-04-13 15:31] maelle commented on #51
Because I couldn't find the right combination of path options for your library and the upload-artifacts action to cooperate.

[2020-04-13 15:36] vsoch commented on #51
The library is agnostic to the paths that you choose - if you save a relative path it is relative to the GitHub working directory that is bound to the container, which should be the same for subsequent actions. I opened a PR with an example to add but the actions for the repo didn't trigger - now I'm wondering if there is some issue with actions period!

[2020-04-13 15:39] vsoch commented on #51
okay I reset the actions settings in the repo and pushed again, that seemed to fix it! I also had no issue uploading the file, see below:

![image](https://user-images.githubusercontent.com/814322/79134308-bb43a780-7d6a-11ea-960a-a84f7b3a37b7.png)

and the artifact

![image](https://user-images.githubusercontent.com/814322/79134673-52a8fa80-7d6b-11ea-95e2-1b6a01a53ffa.png)

[2020-04-13 15:41] vsoch commented on #51
And here is the yaml recipe:

[code]

[2020-04-13 15:42] vsoch commented on #51
@maelle you have a path error in your recipe - `/output` != `output`. You have:

[code]
But you need to have:

[code]
I don't think there is an issue here so I'm closing, but please reopen if I'm mistaken.

[2020-04-13 15:46] vsoch commented on #51
It does look like this would be an issue if you were running outside of a container however, v1 would have the bug I think https://github.com/actions/upload-artifact/issues/13.

[2020-04-13 15:48] vsoch commented on #51
It could be related to v2-preview - I'll test that.

[2020-04-13 16:15] maelle commented on #51
Thanks, I'll use your recipe tomorrow! I had tried many combinations, not sure why none worled, sorry.

[2020-04-13 16:23] vsoch commented on #51
No worries! It's usually a path error, especially with GitHub actions.

[2020-04-13 16:41] maelle commented on #51
I suspect I tried single file with v1 and then bad paths with v2. Anyway thx a ton!

[2020-04-13 17:17] maelle commented on #51
It still doesn't work for me https://github.com/r-hub/docs/runs/583250700?check_suite_focus=true

I can't figure out what's wrong with my workflow compared to yours (apart from my repo not being the action repo). 🤔

[2020-04-13 17:22] vsoch commented on #51
Can you link to the workflow recipe file?

[2020-04-13 17:22] vsoch commented on #51
Oup I found it :) https://github.com/r-hub/docs/blob/master/.github/workflows/urlchecks.yml

[2020-04-13 17:24] vsoch commented on #51
A few notes:

 - did you try using uses: urlstechie/urlchecker-action@0.1.9 instead of 0.1.8?
 - what is key doing there as a parameter for urlchecker?
 - I don't see that you've set save - if it's not set, it won't save :)

[2020-04-13 17:25] maelle commented on #51
Sorry it is https://github.com/r-hub/docs/blob/gha/.github/workflows/urlchecks.yml

[2020-04-13 17:25] vsoch commented on #51
oh sorry, my mistake! Let me take a look!

[2020-04-13 17:31] vsoch commented on #51
okay, let's debug a bit! After you run urlchecker, let's add a step that prints out what is there to see what is going on, something like:

[code]
That should at least give us an idea of what is there - I suspect it's not what we think.

[2020-04-13 17:40] maelle commented on #51
Running it now. Note that I'll log off for the night quite soon, sorry 😬

I added such steps today and... ended up being quite confused. The checkers action was in a folder, the artifact was looking in another.

[2020-04-13 17:41] maelle commented on #51
Oops I need to add always

[2020-04-13 17:42] maelle commented on #51
https://github.com/r-hub/docs/runs/583320986?check_suite_focus=true

[2020-04-13 17:42] vsoch commented on #51
Watching!

[2020-04-13 17:47] maelle commented on #51
In the log above you'll see the things that confused me
![Screenshot_20200413-194653](https://user-images.githubusercontent.com/8360597/79144651-9d546200-7dbf-11ea-89f7-a948c01516cd.jpg)

[2020-04-13 17:48] vsoch commented on #51
Ah! @maelle it is (I think) because you have cleanup True - this deletes the entire contents of the repo folder :) The intended purpose for cleanup is if you run tests in a temporary folder (after cloning a repo) you'd want to clean it up.

[2020-04-13 17:48] vsoch commented on #51
And this must be a bug on our end - one that was introduced with the fussle last week. Let me look into this right now.

[2020-04-13 17:49] maelle commented on #51
Should I add cleanup: false?

[2020-04-13 17:51] vsoch commented on #51
No that unfortunately won't work - the entrypoint.sh is checking for any variable set at all! I'm putting in a fix now, should be available soon.

[2020-04-13 17:53] vsoch commented on #51
https://github.com/urlstechie/urlchecker-action/pull/55

[2020-04-13 17:53] maelle commented on #51
I feel much better, now I know why I was confused 😀 Best user support ever 😉 I will log off now, have a good day URL techies!

[2020-04-13 17:56] vsoch commented on #51
haha, thank you for your patience! You should be able to use 0.2.0 now and it will work, https://github.com/urlstechie/urlchecker-action/releases/tag/0.2.0 I'll leave the issue open until we can confirm you are good.

[2020-04-13 18:05] maelle commented on #51
Actually took the time to test it and it works, thank you 🎉🎉🎉

[2020-04-13 18:08] maelle opened #56 "Remove "github/workspace" from filename in csv?"
Not sure if this belongs to the library or action. Would it be possible (and make sense) to have the filename relative to the folder in which the URL checks are run?

[2020-04-13 18:38] vsoch commented on #43
@SuperKogito we need to prioritize this issue, over any changes to urlchecker-python. We need to make sure that the action is working for multiple different use cases, and we don't run into issues like we did with the cleanup arg!

[2020-04-13 18:48] vsoch commented on #56
That is derived programatically with `os.path.abspath()` - so if you give a relative path and the github workspace is the cwd, this is what you'd expect to see. So, it should be relative. The issue I think you are seeing is that the action is run inside a container, where /github/workspace != the same bound path on the host. So the container sees /github/workspace/results.csv, but your local host

[2020-04-14 05:52] maelle commented on #56
In https://github.com/r-hub/docs/actions/runs/77341786 and workflow is at https://github.com/r-hub/docs/actions/runs/77341786/workflow :-) Thank you!

[2020-04-14 08:00] vsoch commented on #56
hey @maelle ! So you can see that the save path is passed without any subfolder /absolute path:
![image](https://user-images.githubusercontent.com/814322/79200272-6a2bc600-7df3-11ea-8fe2-74d434b8454c.png)

The /github/workspace as I mentioned previously is derived when we do os.path.abspath() of that. In the container that is bound to the host at /home/runner/work/docs/docs to /github/workspace, t

[2020-04-14 08:02] vsoch commented on #56
Are you wanting to just remove it for aesthetic reasons? We could have the checker derive a relative path for printing and saving. @SuperKogito do you want to weigh in?

[2020-04-14 08:04] vsoch commented on #56
Just to clarify instead of:

![image](https://user-images.githubusercontent.com/814322/79200667-0655cd00-7df4-11ea-8043-1be0b7270e02.png)

You want to see:

![image](https://user-images.githubusercontent.com/814322/79200737-238a9b80-7df4-11ea-9849-d6ed3cd6197f.png)

[2020-04-14 10:01] maelle commented on #56
It is fine if it stays, I just thought it was not informative in the csv file (I was expecting the filename column to contain file paths relative to the folder root)

[2020-04-14 10:04] maelle commented on #56
I think there was a misunderstanding, the log is fine, I was asking about the content of the csv file 🙂

[2020-04-14 10:08] maelle commented on #56
(That said even in the log it'd be nicer with a shorter path as in your screenshot)

[2020-04-14 11:29] vsoch commented on #56
Yes I understand now! I'm actually in agreement - I think the contents of the csv would do well to have relative paths, but I think it's most useful to leave the full paths for the print to the screen. This is an issue for urlchecker-python so I'm going to transfer there.

[2020-04-14 13:18] SuperKogito commented on #43
I agree, I am working on a PR for the test-repo that hopefully will solve this, but testing the changes might become messy because I want to trigger the tests following the action releases. It would be better to do it without a release but I am not sure if that is even possible. If you have better ideas on how to test the action, I am all ears :)

[2020-04-14 14:12] maelle commented on #44
Just for info I went with the API and jq.
Pro: It doesn't require me to clone all branches/history to get the changed files.
Con: it's limited to 30 files. In my case PRs won't change more than 30 files but who knows.

[2020-04-14 17:49] vsoch opened #57 "Question: how to implement action to respond to comments?"
This is just a random idea I thought would be cool - we could have an action that responds to issue comments,and looks for a particular string (like @urlchecker-action check) and then it could do some special check for a url.

Definitely not priority - but would be fun to figure out how to do!

[2020-04-14 18:14] maelle commented on #57
I am glad spamming you with my request for help gave you an idea, I feel less bad 😉

[2020-04-14 18:26] maelle commented on #44
I'll add https://github.com/r-hub/docs/blob/master/.github/workflows/pr.yml to the examples repo, I think this can be closed, thanks a ton!

[2020-04-14 18:51] #44 closed, assigned to nobody

[2020-04-14 19:00] vsoch commented on #57
You are kind, and helpful, you should not feel bad. There are plenty of folks out there that are not kind, and that is what makes a dinosaur sad. For your pings, it is my pleasure to help :)

[2020-04-14 21:05] SuperKogito commented on #57
This is a great idea, I love it! broken links issues are quite frequent so this is Genius ;) @maelle you helped push& improve things so that is great help at these weird times where slacking and depression can be looming in the corner. Gotta keep the dinosaur happy :P

[2020-04-15 06:12] maelle opened #60 "URL vs link checking"
Some more user feedback/questions :wink: With the current action&library, URLs are checked but not links: if you typed `[a cool post](htttps://blabla.org)` by mistake, the wrong link (should be `https://blabla.org`) won't be caught. In Markdown/html files, "links" are well-defined (in comments in code, I agree, less so).

Other actions focus on link checking, I wonder whether this could be added t

[2020-04-15 06:22] maelle commented on #51
This can be closed I think especially as you have an example now https://github.com/urlstechie/urlchecker-action/blob/master/examples/urlchecker-save-artifact.yml

[2020-04-15 06:34] maelle commented on #60
Note that your action/library is still the only one I see with retry and the ability to pass given filenames. Others also don't have a CSV report as far as I could tell.

[2020-04-15 06:38] maelle opened #61 "Should the action also output a Markdown report in a check run?"
See https://developer.github.com/v3/checks/runs/#output-object

And e.g. https://github.com/ropensci/dev_guide/pull/258/checks?check_run_id=555253517

It'd be something nicer to read than the log.

Not sure if very useful. I thought of this when seeing other link checker actions mentioning "Markdown reports".

[2020-04-15 06:53] maelle commented on #61
Another advantage of a Markdown report that'd e.g. be

[code]

Links would be clickable so it's easier to double check (which is the first thing I'd do to fix a broken link, trying to navigate to it).

Or it could be organized by URL (if they appear in several files).

I wonder whether the report should also make filenames clickable (to directly see where in the source the problem is.

The API als

[2020-04-15 08:33] #51 closed, assigned to nobody

[2020-04-15 09:07] vsoch commented on #60
I don’t think the action is scoped to handle gross spells errors (eg httpppps). What action / issue specifically do you want addressed for this issue?

[2020-04-15 09:11] vsoch commented on #61
I’m not sure that I follow - aside from an output in markdown, can you show me real examples in the wild for what you are looking for?

[2020-04-15 09:13] SuperKogito commented on #61
I like the idea cuz it is super practical :smile: The cool thing about `.csv` is that we can easily convert it to almost any other format including `.md`. As for the report, making everything clickable is always better for the user.
The API looks useful, but we should test it first or find examples of it, because I wonder how would the output look like?

[2020-04-15 09:57] maelle commented on #61
https://github.com/ropensci/dev_guide/runs/555253517?check_suite_focus=true is generated from https://github.com/ropensci/dev_guide/blob/4a67a67e234ef5cd02e82877feb01ed2444bf1f7/.github/workflows/pr.yml#L56

In the case of this action, the check wouldn't be created but updated. I have never done that.

[2020-04-15 09:59] maelle commented on #61
The example is for "output object"

[2020-04-15 10:01] maelle commented on #60
Checking that all links that are not relative links are URLs, I suppose. I am wondering about link checking because it's a limitation of this action compared to other link checking actions. At the same time most often people 1) copy paste URLs from the browser I suppose 2) see the typo when reviewing, so maybe not that big of a limitation.

[2020-04-15 10:06] maelle commented on #57
I saw this whilst looking for something else https://github.com/JuliaCI/Nanosoldier.jl

[2020-04-15 10:11] maelle commented on #61
https://github.com/krzkaczor/lighthouse-keeper-example/pull/2/checks

[2020-04-15 10:27] maelle commented on #61
https://github.com/treosh/lighthouse-ci-action/issues/2#issuecomment-568706564

[2020-04-15 10:36] SuperKogito commented on #61
The last link is a quite helpful. Not only it shows that we can display the report as markdown but also it gives an idea on what improvements we can have for the logs too. @vsoch what do you think of it? :)

[2020-04-15 10:38] maelle commented on #61
I wasn't able to find more links, maybe it is under used/ documented or I am using wrong keywords.

For the first example (the less useful one) that is a workflow of mine where I just tried out API params from the docs to see where the "output object" would show up, I had no idea!

[2020-04-15 13:03] maelle opened #62 "Make it easier to look through real-life examples?"
Could the list of examples at the end of the README be a table with

* community name, linking to repo as it is now the case
* workflow file presented as `[workflow running blablabla every blablabla](permalink to workflow file)`
* example log?

I'm asking because that's what I go look for in example repos.

[2020-04-15 13:09] SuperKogito commented on #62
This sounds nice and it would be better aesthetically. Do you want to take on this? :p I think me and @vsoch got enough at our plates atm.

[2020-04-15 13:42] maelle commented on #62
Related: https://github.com/sindresorhus/refined-github/issues/3008

[2020-04-15 15:40] vsoch commented on #60
This is out of scope for now, I don’t see how we could derive spelling mistakes easily. Urlchecker is optimized for checking urls.

[2020-04-15 15:40] #60 closed, assigned to nobody

[2020-04-15 17:02] vsoch commented on #57
oh that's wicked @maelle ! I should make something like that for our cluster, and especially beautiful is how it uploads results to a repo (for metrics). And yes, that's spot on the idea about commenting in a comment. But what would be the context for the check? For example, why would I comment in an issue, or PR - what links would I want to check?

[2020-04-15 17:05] vsoch commented on #61
Hmm, so this I need to think about. It's not that the idea isn't cool, but it requires enabling checks which might be one step too many, and mean that the urlchecker-action doesn't work off the bat for most that don't know to do this (which is a very bad thing to set up). I also don't totally see the benefit of having a markdown with links that are broken? Why would someone want to click a broken

[2020-04-15 18:00] maelle commented on #61
Not a **strong** use case but if you give me a list of potentially broken URLs in my content I'll

1) try to open them just to check they're indeed broken;
2) copy-paste them to look for them in my files (but not that much easier from Markdown "copy link" than from the log double-click I guess).

[2020-04-15 18:08] maelle commented on #57
Good questions. Although in a PR, you'd check changed files so that part is easy. Now as to why, I'm not sure!

[2020-04-15 18:16] #62 closed, assigned to vsoch

[2020-04-17 15:57] vsoch opened #65 "Next release should use tagged container version"
We've been doing releases with the `latest` tag, but since this is a moving target and features available are starting to change, I want to transition to having releases here associated with a particular tag/release for urlchecker. For the next round of tests to go in to address adding more tests, we can do a release associated with 0.0.19.

[2020-04-18 15:48] SuperKogito commented on #65
I agree to this even though we will have to do some version management and add tests across different versions to make sure everything works.

[2020-04-21 21:29] vsoch commented on #65
Fixed with #67, which now uses 0.0.20 release.

[2020-04-21 21:29] #65 closed, assigned to nobody

[2021-01-12 22:04] rootwork opened #72 "Change name of "whitelist" options to "exclude" options"
It's confusing that the `white_listed_` [inputs](https://github.com/urlstechie/urlchecker-action#inputs) for URLs, patterns, and files **excludes** things rather than **including** them; usually you'd use the term "whitelist" to describe things you are explicitly including that would otherwise not be included.

Additionally, in the output "whitelist" is misspelled for the URL option:

`url whitetl

[2021-01-12 22:19] vsoch commented on #72
Whitelist means that we are adding them to the list of checked/good, so they basically aren't checked. You are correct that you could read it the other way around and say that it's something being excluded (not checked). That's an interesting idea to add `exclude_files` along with whitelist (so older versions do not break). If you'd like to open a pull request with these changes I'd be happy to re

[2021-01-12 22:21] vsoch commented on #72
@rootwork I don't see where the `whitetlist` spelling mistake is in this repository - if you want to include this fix with your PR maybe that would be a cleaner way to get all the changes in at once!

[2021-01-13 09:11] SuperKogito commented on #72
That is an interesting point; both rationals for `exclude` or `whitelist` are compelling. As @vsoch explained, the initial idea was to allow the user to skip certain links during checks.
In my opinion, for the sake of consistency (since we use `include_files`) it makes more sense to use `exclude`  and -without being political- we might want to avoid the term `whitelisted`, or at least since we hav

[2021-01-13 18:14] vsoch commented on #72
I agree @SuperKogito, and after thinking over it, I think we should just deprecate the previous `white_listed_*` variables. I have a PR for both of you to review with these changes, here https://github.com/urlstechie/urlchecker-action/pull/73.

@rootwork I still can't find that spelling mistake you are referencing...

[2021-01-13 21:23] vsoch commented on #72
Okay, the changes are done here, #73 ! If you find the spelling error, please open another issue or PR with a link or the fix. Otherwise, thanks for opening the issue! Closing as we've resolved.

[2021-01-13 21:23] #72 closed, assigned to nobody

[2021-01-26 22:22] rootwork opened #74 "Syntax for 'file_types' including dotfiles"
Let's say I wanted to check all `.html` files, but also ALL dotfiles -- that is, files that have no filename, only an extension (`.editorconfig`, say, or `.pylintrc`).

Why would I want to do that? Because sometimes I use comments in these files to source where I got something, and I want to check URLs there to know if/when they break.

I'm sure this is an edge case, but is there a syntax for `fil

[2021-01-26 23:28] vsoch commented on #74
That's a good question - I'm going to transfer it over to urlchecker-python since I think we will need to address it there first!

[2021-02-11 01:57] rootwork opened #76 "Can't use action to check only dotfiles"
Hey, me again :smile:

I ran urlchecker-python v0.22 on a directory with dotfiles (`.editorconfig`, etc.) using this command:

`urlchecker check --file-types '.*' .   `

**That works fine.**

Then I ran urlchecker-action v0.2.3, which as I understand includes the new version of the python script, with the following option:

`file_types: '.*'`

And the action simply skips all files and "passes" wit

[2021-02-11 02:02] rootwork commented on #76
Update: I got it to work if I added a second file type. So for instance using this as the option in the action works:

`file_types: .md,.*`

So this is more minor, then; it only fails if `.*` is the only file path given.

[2021-02-11 02:03] rootwork commented on #76
As an aside, when using `file_types: .md,.*`, the output in the action on GitHub lists, under "Found files in workspace", everything _except_ the dotfiles, even though it does check them. I'm not sure that really matters, but for completeness I thought I'd let you know.

[2021-02-11 02:13] vsoch commented on #76
Did you try including the quotes in the argument for the action? It's probably mapping `'.*'`  to just `.*` and we really want to say `'".*"'` and then it's mapped to `".*"` on the command line.

[2021-02-11 02:14] vsoch commented on #76
That sounds like a bug we can address at urlchecker-python.

[2021-02-11 02:16] vsoch commented on #76
@rootwork here is a suggested fix for the missing quotes - we can ensure they always are there via the action (it seems like it would be unlikely the user would provide them in the step specification!) https://github.com/urlstechie/urlchecker-action/pull/77

[2021-02-11 02:28] rootwork commented on #76
Yeah, I tried all of the following:

[code]
in the `.yml` action-workflow file.

That's a good test to add though.

[2021-02-11 02:29] vsoch commented on #76
I think you’d need the double quotes for the action, the first set (whatever they are) will be removed. You can also just test the PR I opened action (via its branch).

[2021-02-11 02:32] rootwork commented on #76
OK, but I definitely tried `file_types: ".*"` and it definitely didn't work...

[2021-02-11 02:33] rootwork commented on #76
Oh or do you mean `file_types: ''.*''` (i.e. two apostrophes rather than one quote-mark)?

[2021-02-11 02:34] vsoch commented on #76
Two sets of quotes, one single one double like ‘“.*”’

[2021-02-11 02:35] vsoch commented on #76
We are essentially quoting the quotes.

[2021-02-11 02:44] rootwork commented on #76
Ah I understand now. I tried it and no go -- results in "No urls collected".

I tried both `file_types: ["'.*'"]` and `file_types: ['".*"']`.

In both cases the output in the GitHub action was identical -- i.e. `file types: ["'.*'"]` for the first and `file types: ['".*"']` for the second.

Meaning, if I'm understanding it correctly, that single quotes get stripped, but double quotes both get pres

[2021-02-11 03:10] vsoch commented on #76
Hmm, the last thing I'd try is the branch I created (without any special quotes). If that doesn't work, we'll need to rethink this.

[2021-02-11 03:14] rootwork commented on #76
OK -- will have to try tomorrow.

[2021-02-11 23:08] SuperKogito commented on #76
After running a bunch of tests, I realized that the `*`after the `.` is only recognized if some pattern precedes it.
By writing the pattern twice or adding a `,`,  as an alternative, you can make it work. It is not beautiful but it works. `".*,.*"`, `'.*,.*'`, `",.*"`, `',.*'`,  `".*,"` and `'.*,'` should work. @rootwork  can you please test these and confirm?

@vsoch I think this issue is related

[2021-02-11 23:58] rootwork commented on #76
I tried `'.*,'` and I can confirm that that works.

[2021-02-12 00:00] rootwork commented on #76
In regards to the omitted items in "Found files in workspace" @vsoch [mentioned above](https://github.com/urlstechie/urlchecker-action/issues/76#issuecomment-777164139), that may be an issue with urlchecker-python, but it only shows up in the GitHub action output (it's not a part of the python script's output).

[2021-03-22 23:06] shahzebsiddiqui opened #78 "failed to build docker container"
I just noticed it failed to build docker container today as part of the github workflow. I have been using the same version (v0.2.3) for some time and it was working fine.

See https://github.com/buildtesters/buildtest/pull/699/checks?check_run_id=2170371755

My urlcheck workflow can be found at https://github.com/buildtesters/buildtest/blob/devel/.github/workflows/urlchecker.yml

[2021-03-22 23:08] vsoch commented on #78
quay.io is down, so any action that relies on it for containers will fail. https://status.quay.io/. Check back to that interface and try a re-run when it's up again!

[2021-03-22 23:09] vsoch commented on #78
If you look at the error, you can see the 502 bad gateway when trying to pull the container:
![image](https://user-images.githubusercontent.com/814322/112069389-59baba00-8b31-11eb-862d-e7f40cf3f575.png)

[2021-03-23 00:15] shahzebsiddiqui commented on #78
thanks @vsoch that makes sense now. I will close this issue.

[2021-03-23 00:15] #78 closed, assigned to nobody

[2021-08-17 20:33] ax3l opened #79 "Certificates: nersc.gov, ornl.gov"
Hi,

Using this action I have problems verifying `nersc.gov` and `ornl.gov` certificates in a standard Ubuntu-20.04 GH action instance:
[code]
[code]

Googling the interwebs, I think that we can fix this by also pre-installing `certifi` into the actions:
- https://stackoverflow.com/a/28725127/2719194
- https://stackoverflow.com/questions/50236117/scraping-ssl-certificate-verify-failed-error-for-ht

[2021-08-17 20:48] vsoch commented on #79
hey @ax3l that's not an issue with the action, there is an SSL certificate error. You need to add those patterns to the whitelist patterns, which are defined in both the linters.yaml (with urlchecker) and the nightly task to clean jobs. Thanks!

[2021-08-17 20:49] vsoch commented on #79
If you like I'll make a branch for you here to test that installs that dependency. Give me a sec.

[2021-08-17 20:52] vsoch commented on #79
Here you go! https://github.com/urlstechie/urlchecker-action/tree/add/certifi Feel free to PR to that branch if you want to fuss around further. Thanks!

[2021-08-17 21:09] ax3l commented on #79
Thanks a lot!
I quickly built this out via
[code]
and run it via
[code]
But it does not seem to find my files in my PWD. Any other hints I need to pass into the container?

[2021-08-17 21:12] ax3l commented on #79
Oh..., I can try this branch in an action via `uses: urlstechie/urlchecker-action@add/certifi` :bulb:

[2021-08-18 01:02] ax3l commented on #79
I tried a [couple further updates](https://github.com/ax3l/urlchecker-action/tree/add/certifi) - down to even doing:
[code]

I think one problem might be that the base image bases on Debian 9 "stretch": https://www.debian.org/releases/stretch/
[code]

Shall we just update to Debian 11 ("Bullseye")?
https://github.com/urlstechie/urlchecker-python/blob/08fc1bb93beaf1263701dc7c1e609a399bc7a32d/Docker

[2021-08-18 01:08] vsoch commented on #79
I could try, we would want to do that anyway. Let me open a PR on that other repo and see if it still works. I might as well at certifi to that container base too.

[2021-08-18 01:09] ax3l commented on #79
Got it :) https://github.com/urlstechie/urlchecker-python/pull/58

[2021-08-18 01:27] vsoch commented on #79
see https://github.com/urlstechie/urlchecker-action/pull/80

[2021-08-18 01:31] vsoch commented on #79
@ax3l I noticed from our discussion day that GitHub changed the UI for showing icons alongside comments - it's in a little nested bubble now instead of anchored to the bottom!

![image](https://user-images.githubusercontent.com/814322/129822060-d39000cc-82c8-40b3-b3ff-0316e52c21ca.png)

The weird thing is that I still have tabs open with the old format!

![image](https://user-images.githubusercont

[2021-08-18 01:32] ax3l commented on #79
Yes, same for me - changed mid day, I thought I broke my icon sets or something 😅

[2021-08-18 01:45] ax3l commented on #79
[Root problem found](https://github.com/urlstechie/urlchecker-action/pull/80#issuecomment-900747325):

- https://www.ssllabs.com/ssltest/analyze.html?d=www.olcf.ornl.gov&latest
- https://www.ssllabs.com/ssltest/analyze.html?d=docs%2ddev.nersc.gov&latest

have indeed chain issues.

[2021-08-18 01:47] vsoch commented on #79
Ah, there we go!

It was still worth the work because we updated the container base! I'll leave this issue open so we can discuss again / re-test when the time comes, and I'll hold off releasing any 0.0.23 on pypi (since it's technically the same).

[2021-08-18 01:51] ax3l commented on #79
Alrighty!
I actually think you can merge & release this updated image if you like.

I'll keep my linked WarpX PR open and will report back if the issue stays once the tickets are resolved. No need to wait for those.

NERSC: INC0172063
OLCF: OLCFHELP-3254

[2021-08-18 01:52] vsoch commented on #79
sounds good! I'll merge the PR here so the action uses the updated image, and we can follow up after. Thanks for your work today!

[2021-08-18 01:57] ax3l commented on #79
Thank you as well! Always a pleasure! :tada:
Have a nice evening!

[2021-08-18 01:57] #79 closed, assigned to nobody

[2021-08-18 18:59] ax3l commented on #79
OLCF has fixed their certificate issue today.

[2021-08-18 19:00] vsoch commented on #79
hooray!

[2021-08-19 18:49] ax3l commented on #79
NERSC has also fixed their missing intermediate certificate download for docs-dev.nersc.gov

[2022-04-01 01:45] bernhold opened #84 "Error when no files to check"
Great tool, thanks!

But it seems like it throws an error if there are no files to check.  Shouldn't it just quietly succeed in that case?

A little ugly, but here's a snip from the log file.

Traceback (most recent call last):
           original path: .
              final path: /github/workspace
               subfolder: None
                  branch: master
  File "/opt/conda/bin/urlchecker",

[2022-04-01 02:18] vsoch commented on #84
Yeah totally agree! So I think we first had it as a failure because one would expect there to be some URL to check (and if not you might have messed up the configuration.) Can you point me to the repo you were testing so I can double check the bug and put in a fix? Thank you!

[2022-04-01 02:20] vsoch commented on #84
Actually I just reproduced! Will have a fix shortly.

[2022-04-01 02:25] vsoch commented on #84
okay here you go! Take this for a spin https://github.com/urlstechie/urlchecker-python/pull/67. if that is good, when we merge and release there it will build a new base container for the action here.

[2022-04-01 03:35] vsoch commented on #84
Thank you @bernhold ! This is fixed, merged, both here and for urlchecker-python.

[2022-04-01 03:35] #84 closed, assigned to nobody

[2022-04-01 14:56] bernhold commented on #84
Confirmed.  Thanks very much!

[2022-06-01 10:36] lucasrangit opened #86 "The `set-env` command is disabled"
This action currently cannot run due to additional security measures.

[code]

Adding the following to the `jobs:` is a workaround.

[code]

However, ideally the examples are updated to use the new `$GITHUB_ENV` file method or similar. For example,

[code]

[code]

[2022-06-01 11:25] vsoch commented on #86
Ah indeed, thank you for catching this! It's likely an oversight that we forgot to update the example, and I noticed what I think is another bug at the end. Would you care to review? https://github.com/urlstechie/urlchecker-action/pull/87

[2022-06-01 11:59] vsoch commented on #86
Thank you!

[2022-06-01 11:59] #86 closed, assigned to nobody

[2022-06-02 09:03] lucasrangit opened #88 "dependabot is trying to update from 0.0.27 to 0.2.31 after version scheme change"
Take a look at https://github.com/berlin-hack-and-tell/berlinhackandtell.rocks/pull/320 and you'll see @dependabot tying to merge the update from 0.0.27 to 0.2.31.

It is confused by the version scheme change.

Since you cannot remove "old" version, I suggest changing the version scheme again. Since you want to match URLchecker, then you should use major.minor versions only. e.g. 0.0.27 becomes 0.

[2022-06-02 13:13] vsoch commented on #88
Can you not just ignore the suggested update?

[2022-06-02 13:33] lucasrangit commented on #88
Yeah we can ignore it. I also think there's a way to configure the @dependabot to ignore some versions with `.github/dependabot.yml` so I don't have to disable auto-update completely.

[code]

I am reporting this because you made the change to make our lives easier :wink:

![image](https://user-images.githubusercontent.com/701818/171639876-d0fc1c88-02e2-4898-8613-c2df28548737.png)

[2022-06-02 13:34] vsoch commented on #88
Yeah! I'm really sorry. Hmm - if there is a way to check (and update) where the action is being used (and make sure the older versions aren't being used) we could potentially delete the old releases.

[2022-06-02 13:35] vsoch commented on #88
Oh my that's quite a few! https://github.com/urlstechie/urlchecker-action/network/dependents

[2022-06-02 13:36] lucasrangit commented on #88
Yeah I was just about to post that "Used by" link. Pretty handy.

[2022-06-02 13:49] vsoch commented on #88
Okay I got through... one page! There were about 3-4 repos that used a pinned (to be deprecated version). I'm worried if dependabot is opening up PRs that more might switch to an older version so maybe it would be best to delete them before that happens and then hope to catch all the repos that use it.

[2022-06-02 14:30] vsoch opened #89 "NOTICE: deprecated 0.2.x and 0.1.x versions!"
Today we are deprecating the following versions:

- 0.2.31
- 0.2.3
- 0.2.2
- 0.2.1
- 0.2.0
- 0.1.9
- 0.1.8
- 0.1.7
- 0.1.6
- 0.1.5
- 0.1.4
- 0.1.3
- 0.1.2
- 0.1.2

The reason is because of issue #88 - basically we changed the versioning to match urlchecker-python (meaning _latest_ is now 0.0.27 and the previous 0.2.x and 0.1.x are older) and I did not realize dependabot would go around suggesting

[2022-06-02 14:31] vsoch commented on #88
okay this should be addressed! Hopefully I didn't miss too many and people won't be angry with me. Thanks for bringing this to my attention! https://github.com/urlstechie/urlchecker-action/issues/89

[2022-06-02 14:31] #88 closed, assigned to nobody

[2022-06-02 14:43] lucasrangit commented on #88
Thanks! I think this is the right solution as long as it's clear what is wrong when it breaks.

Often whoever set this up is gone or has forgotten how it was set up in the first place so getting back up and running quickly is all that matters.

[2022-06-02 15:13] vsoch commented on #88
I totally agree! It would get worse as time went on. And I’ve definitely learned my lesson and am not going to violate semver in the future!

[2022-06-15 16:17] shahzebsiddiqui opened #90 "failing url check. Need"
According to https://github.com/buildtesters/buildtest/runs/6903580431?check_suite_focus=true i am getting failure on this url https://www.hpcwire.com/2019/01/17/pfizer-hpc-engineer-aims-to-automate-software-stack-testing/

It would be nice if there was extra output to explain why these url are breaking. I know this urlchecker does work on most part and i can ignore this from list.

![Screen Shot

[2022-06-15 17:43] vsoch commented on #90
@shahzebsiddiqui I think we could add the exception type - for the mean time what I usually do:

[code]
403 is Forbidden, so I'm guessing they forbid automated scraping not from a browser. In the library here we attempt to add a non obvious user agent, but if it failed still I'd ping someone there to ask, and see if there is a way we can get around it. But actually just manually testing, this work

[2022-06-29 15:55] valentinsulzer opened #93 "URL checker fails on URLs that work"
e.g. https://github.com/pybamm-team/PyBaMM/runs/7115511512?check_suite_focus=true#step:4:631

Are there different settings we can use to make it work?

[2022-06-29 18:18] vsoch commented on #93
The GitHub failures are strange - testing locally it seems to work okay. The DOI and sciencedirect appear to have a setup that when I try locally with requests I get "Service unavailable (503)" and denied (403). If you didn't already try running the workflow again I would do that first.

![image](https://user-images.githubusercontent.com/814322/176507073-df3a7116-459c-47ed-9468-5fa52e91db94.png)

[2022-06-29 19:05] SuperKogito commented on #93
I can confirm what @vsoch  mentioned about DOI and sciencedirect. Usually using higher `timeout` and  `retry_count` values should help but you already did that. Alternatively, you can exclude the links from the checks using `exclude_urls`.
Running the checks locally `urlchecker check PyBaMM --timeout 15 --retry-count 5 --verbose true --file-types .rst,.md,.py,.ipynb --exclude-patterns https://www.

[2022-06-29 19:53] valentinsulzer commented on #93
Thanks for the quick response! I will try v0.0.25, and if that doesn't work try skipping `doi.org` (I guess those links are fairly safe), and report back

[2022-06-29 20:03] vsoch commented on #93
@tinosulzer and as @SuperKogito mentioned I think we have some information about the science direct! I am planning on opening a PR this evening to try and fix it - I'll ping here.

[2022-06-29 23:09] vsoch commented on #93
okay here is PR to test!  https://github.com/urlstechie/urlchecker-python/pull/74 You should be able to use the action branch. Since we can't be sure if the Accept header will break others that don't expect it, I only add it after the first failure. I also add the headers derivation inside the retry loop so a different user agent is tried each time.

[2022-06-29 23:52] SuperKogito commented on #93
Nice work @vsoch :+1:  DOI fixed but sciencedirect not yet :))
![Screenshot from 2022-06-30 01-45-05](https://user-images.githubusercontent.com/15731839/176564576-ba71caa6-9efa-4728-ae72-70aad128ceb9.png)

[2022-06-30 00:19] vsoch commented on #93
Was there a fix I missed for sciencedirect?

[2022-06-30 00:30] vsoch commented on #93
It might be the user agent - I'm going to look into other ways to provide (possibly newer) ones. Will again report back :)

[2022-06-30 00:41] SuperKogito commented on #93
The fix I mentioned should work for both, I think.

[2022-06-30 00:43] vsoch commented on #93
I applied the fix - so I think I'm suggesting that it doesn't, and perhaps the user agent is an issue too?

[2022-06-30 00:46] SuperKogito commented on #93
that could be it. That's why I mentioned it, since in my previous test I only tested it with this agent:
[code]

[2022-07-21 19:27] rootwork opened #94 "URLs are being truncated and then failing in Markdown, TOML files"
I can't understand how or why this might be happening, so I'll just describe what I'm seeing. I'm using `urlstechie/urlchecker-action@master`.

urlchecker-action is truncating _some_ URLs, trying to reach those truncated URLs, and reporting them as broken. Examples:

[code]

truncated to `https://www.linux`

[code]

truncated to `https://codepen.io/root`

[code]

truncated to `https://www.drupal.o

[2022-07-21 20:24] vsoch commented on #94
@rootwork I think I have an idea - can you give me (here in the comment) a quick markdown snippet with the failing urls and I'll work on fixing this asap?

[2022-07-21 20:28] rootwork commented on #94
Sure. Here's the full paragraph containing the last example above, from a Markdown file. Linebreaks are in the original.

[code]

[2022-07-21 20:44] vsoch commented on #94
Could you send an exact file from above? When I try to use that snippet it looks okay:

[code]
If I try the exact file and it doesn't reproduce it must be something about the GitHub environment, and I want to rule that out.

[2022-07-21 20:45] vsoch commented on #94
And do you have a link to that run?

[2022-07-21 21:50] rootwork commented on #94
Sure! [Here's the file](https://github.com/rootwork/rootwork.org/blob/main/hugo/content/blog/2013-05-16b/index.md), and [here's the run](https://github.com/rootwork/rootwork.org/runs/7425769180?check_suite_focus=true). But notice that it's inconsistent about which URLs get truncated; [here's a more recent run](https://github.com/rootwork/rootwork.org/actions/runs/2702377774) where there's still tr

[2022-07-21 22:44] vsoch commented on #94
Ah! So I wonder if it's the colorizing of escape sequences? Check out the raw log here -  I don't think I see the full truncation if you scroll to the end? https://pipelines.actions.githubusercontent.com/serviceHosts/e1990149-fc7a-4131-8b50-bd5f555fd30c/_apis/pipelines/1/runs/618/signedlogcontent/2?urlExpires=2022-07-21T22%3A43%3A32.9120900Z&urlSigningMethod=HMACV1&urlSignature=24ReGiruxyomY876DUF

[2022-07-21 22:45] vsoch commented on #94
okay so I can't share the URL - you can click or here is a screenshot comparison:

![image](https://user-images.githubusercontent.com/814322/180327401-3b214fb9-5253-4901-9be3-a5de074b2720.png)

![image](https://user-images.githubusercontent.com/814322/180327434-e1cab053-db69-4258-b191-3a4629e17e71.png)

[2022-07-21 22:48] vsoch commented on #94
I'm going to do a quick test to look if ANSI escape sequences work better.

[2022-07-21 23:14] vsoch commented on #94
okay I have a PR to urlchecker-python: https://github.com/urlstechie/urlchecker-python/pull/76
and you should be able to test the action via this branch `fix/ansi-colors` here https://github.com/urlstechie/urlchecker-action/pull/95

[2022-07-21 23:30] rootwork commented on #94
Hmm. It seemed to have truncated fewer of them, but some are still there. [Here's the run.](https://github.com/rootwork/rootwork.org/runs/7459585626?check_suite_focus=true)

(Note one item in that list is a legitimate broken link, though.)

Update: [Run with the legitimately broken URL fixed.](https://github.com/rootwork/rootwork.org/runs/7459667404?check_suite_focus=true)

[2022-07-21 23:38] vsoch commented on #94
Here is again the raw logs:

![image](https://user-images.githubusercontent.com/814322/180332179-bcd2f52e-98dc-467a-b062-eba8efd9fe79.png)

I can't say I've seen this before - I feel like it was working? I wonder if GitHub changed how they handle these sequences and our best shot is to remove all colors. The text is definitely there, it's just being hidden for some reason.

[2022-07-21 23:39] vsoch commented on #94
and you are also saying there are false negatives? I've seen that too and I wonder if it's either our user agents aren't good enough (@SuperKogito was going to take a look at this) or if sites know to block requests from GitHub IPs.

[2022-07-21 23:40] rootwork commented on #94
No -- not apart from the truncated URLs. There are false negatives in the sense that the full URLs are valid and only fail after being truncated -- but it's not displaying any full URLs and saying they don't pass when they do.

[2022-07-21 23:42] rootwork commented on #94
In my display of the run, I only see colored text on the files (`/github/workspace...` etc.) not on the links. Are the links supposed to be colored? If not, then maybe removing any color sequences around them?

Incidentally while I have it configured to do verbose reports (with the filenames) the same thing was happening even when it just listed the URLs.

[2022-07-21 23:52] vsoch commented on #94
okay - so to debug let's first remove all coloring - give me a few mins to update the action container and I'll let you know when to re-run.

[2022-07-21 23:57] vsoch commented on #94
okay updated container is pushed - try a new run! Should be digest:

[code]
Let's see if just a print shows the entire url (and there is something wonky that needs further investigation around colors)

[2022-07-22 00:00] rootwork commented on #94
Sorry, I'm not clear how to get at that -- should I still use `uses: urlstechie/urlchecker-action@fix/ansi-colors` in the GH action? Or `uses: urlstechie/urlchecker-action@cb4b2bff9af8b2beca9aea0ab54e5ecdd8c8b9556b6058fe6ff88ff34fd800c3`? This isn't my area of expertise 🤷🏽

[2022-07-22 00:10] vsoch commented on #94
oh yes sorry - so you can use that same action branch, and the reason I provided the digest is just to check when it's pulling the action container that it grabs the right one! I think it should, but it's good to double check in case GitHub does something like cache the original one pulled.

[2022-07-22 00:11] vsoch commented on #94
TLDR you should be able to just click the re-run :)

[2022-07-22 00:24] rootwork commented on #94
[Didn't seem to change anything](https://github.com/rootwork/rootwork.org/runs/7460144545?check_suite_focus=true), unfortunately.

One thing I noticed, not sure it's significant -- the URLs that are listed are truncated, but if you hover over them they are actually linked to the correct (non-truncated) URLs. Not sure if that's just GH doing something outside of the action itself, though.

[2022-07-22 00:28] vsoch commented on #94
This is so strange! I see the full URLs in the raw log:

![image](https://user-images.githubusercontent.com/814322/180336638-fb686f23-4b3e-4c94-afed-74d2f3e244c8.png)

I'm starting to wonder if GitHub is doing something strange with the URL and indent - I'm going to try and reproduce with a dummy Python script, and if I can I'll open an issue with GitHub. I'll keep you updated!

[2022-07-22 00:36] rootwork commented on #94
OK, thanks! If there's anything else I can provide to help I'm happy to do so.

[2022-07-22 01:02] vsoch commented on #94
Yep, looks like just from a python script with some prints, it tries to parse (and shorten) the url:

![image](https://user-images.githubusercontent.com/814322/180339502-04fb3809-8b81-471b-acd5-c949649a3b1d.png)

UNLESS it looks like you break some regex so it doesn't detect that it's a url?

![image](https://user-images.githubusercontent.com/814322/180339592-3bc0513a-0c5f-450b-86a5-c28dd4c40800.p

[2022-07-22 01:13] vsoch commented on #94
okay so I have a hypothesis - @rootwork give that workflow another re-run and let's see if we get a different result!

[2022-07-22 06:03] rootwork commented on #94
Now it's reporting the full URLs, but still failing them. I'm guessing despite what it's reporting something is getting truncated in the background?

https://github.com/rootwork/rootwork.org/runs/7462969525?check_suite_focus=true

[2022-07-22 06:34] vsoch commented on #94
Good - we fixed one bug!

I believe there are two issues here - printing the full url (fixed) and the response being 403 because the user agent or IP isn’t good enough to mimic a human (this issue we already knew about). There isn’t any truncation beyond the printing bug that now is fixed. And the latter is what @SuperKogito is working on, and let us know if you have ideas! In the meantime (tomorr

[2022-07-22 19:20] rootwork commented on #94
OK, I think I understand what you're saying, but just to underscore that the URLs it is still wrongly failing are the same ones it was truncating before. I had thought it was failing them _because_ it was truncating them, but it sounds like you're saying there are other issues with it failing legitimate URLs, and it was only in printing those wrongly-failed URLs that truncation was happening.

If

[2022-07-22 19:23] rootwork commented on #93
Coming over from #94, just to report that if the cause is the same for my failures, they are all URLs that don't involve DOI or sciencedirect. Here are some that are failing:

[code]

[2022-07-22 19:59] vsoch commented on #94
Nope - it's not failing because of the truncation! It's failing because we need to update the headers, etc. that we use to make the request - servers are getting better at detecting our little test robot :) I have a bunch of ideas I will be testing likely over the weekend.

[2022-07-22 20:00] vsoch commented on #94
And I agree it was a bit confounded and I totally see that we could make the connection from a truncation to the failure. But that's not the case because the URLs themselves were never actually truncated - that was just a printing bug in GitHub actions. In all cases we saw the full URLs in the raw logs.

[2022-07-22 22:15] vsoch commented on #93
Some progress! I'm able to fix the last one, but the rest it looks like have probably pretty sophisticated methods for checking for this kind of thing. This is the current still failing set:

[code]
But I have one more idea - since it's an action we could do an install of selenium (and provide a browser binary) as a last resort headless method to do the check. Since it's an actual browser, I think

[2022-07-23 03:13] vsoch commented on #93
@tinosulzer I've tested your URLs against the new version (with a better user agent) and I think the only non-working one (from your set) is the sciencedirect:

[code]
I think this is an improvement, so I'm going to draft a release for this update, and then go back to tackle these other URLs. I'm thinking it's time to bring in a little more heavy of a tester - an actual headless browser like selen

[2022-07-23 05:23] vsoch commented on #94
Did not mean to close this! So some of these URLs are fixed, the rest I'm going to try selenium soon! See https://github.com/urlstechie/urlchecker-python/issues/73

[2022-07-23 05:23] vsoch commented on #93
Note that the first fix is merged here, for the remainder of URLs I will be trying selenium soon, tracking in https://github.com/urlstechie/urlchecker-python/issues/73.

[2022-07-23 06:23] rootwork commented on #93
`https://www.flickr.com/photos/username` is a legitimate broken link, sorry for not catching that. (It's a placeholder URL in a comment.)

[2022-07-24 23:50] #93 closed, assigned to nobody

[2022-07-24 23:56] vsoch commented on #94
Thanks again y'all - all URLs appear to be working now! Please open another issue if a new one arises.

[2022-07-24 23:56] #94 closed, assigned to nobody

[2022-07-24 23:57] vsoch commented on #76
should we try something different here or is the workaround okay? Should we just add this pattern to the docs perhaps for others to easily find?

[2022-07-25 05:25] rootwork commented on #76
I don't mind using the workaround, and if you add it to the docs then it becomes official and no longer a workaround, right? 😄

[2022-07-25 05:36] vsoch commented on #76
Haha, indeed! Here is a suggested addition: https://github.com/urlstechie/urlchecker-action/pull/97

[2022-08-18 17:34] ricardozanini opened #99 "fake_useragent error"
Hey guys!

Not sure if I'm doing something wrong, but on my end a simple check on a Jekyll website I got:

[code]

In the end, the checker won't find any URL to check, ends in an error and the CI passes. Here's the full log: https://github.com/kiegroup/kogito-website/runs/7903901907?check_suite_focus=true

My yaml:

[code]

The cache action can be ignored, I guess the ruby action is already doing

[2022-08-18 17:50] vsoch commented on #99
@ricardozanini that error is more a warning that the library is falling back to a cache - it usually still runs after that (did you try a re-run)?) That said, the developer of that library has been 404, and likely the first step here is to switch to installing from:

[code]
I'll put in a PR tonight to do this, and then we can go from there.

[2022-08-18 18:39] ricardozanini commented on #99
@vsoch thanks for the prompt reply! I wonder why I see `There were no URLs to check.` message. :(

Since the `_sites` folder has a few HTML files. Maybe a configuration error from my side? I thought that WARNING had some kind of relation to this problem.

[2022-08-18 18:40] vsoch commented on #99
Let me get the fix in this evening and I'll ping you with a branch to test - I think your options look good because I cloned, built, and ran the same command locally (and I saw checks). I'm not allowed to work on personal projects during the work day, but promise I'll get this in for you tonight after the workday finishes!

[2022-08-18 18:41] ricardozanini commented on #99
Thanks @vsoch! Let me know if I can help somehow ;)

[2022-08-18 23:39] vsoch commented on #99
hey @ricardozanini ! Ready for your help! I have a PR branch here https://github.com/urlstechie/urlchecker-action/pull/100 that would be super helpful if you can test - instead of `urlchecker-action@main` do `urlchecker-action@update/fakeuser-agent`. Let me know if that resolves the issue! If so, I have a PR in to urlchecker-python to fix the underlying issue, and that will propogate to a new cont

[2022-08-19 12:06] ricardozanini commented on #99
@vsoch many thanks! Can you please change the branch name to something else without the bars? `/`. Otherwise, I can't test it:

[code]

[2022-08-19 17:25] vsoch commented on #99
You actually can - I’ve done it many times! - Did you remember the org name urlstechie first?

[2022-08-19 20:15] ricardozanini commented on #99
Sure.

I pushed the renamed branch to my fork, but it won't work since my fork is not a GH registered action.

[2022-08-19 20:32] vsoch commented on #99
I don't understand the issue - your fork doesn't need to be hosting anything. You should just be able to do:

[code]
I've done this many times - it works because you can use an action from any branch or general ref. What error are you seeing exactly?

[2022-08-22 14:20] carceneaux commented on #99
@vsoch I was experiencing the same issue and tested your code as described. I can confirm that it works great and resolved the issue.

[2022-08-22 14:22] ricardozanini commented on #99
SORRY.

I didn't understand your first message, it seems. I'll do it and report soon.

[2022-08-22 14:32] vsoch commented on #99
Thanks @carceneaux !

[2022-08-22 14:35] ricardozanini commented on #99
@vsoch worked! https://github.com/kiegroup/kogito-website/runs/7954015645?check_suite_focus=true

Although I'm still seeing a few stack traces, I assume this is normal since it's a fallback to the cache server, right?
I think you can release a new patch :)

Many thanks!

[2022-08-22 14:45] vsoch commented on #99
@ricardozanini I checked the (newer) fake-user agent code, and it at least is hitting the right repository! That looks like a one-off failure to hit the main server, as you noted. I'm not loving that error - but it does seem that the rest looks okay. https://github.com/danger89/fake-useragent I'm going to merge here, and let's watch this issue! If it's something regular we can open an issue at htt

[2022-08-22 14:48] vsoch commented on #99
Should be released in a few minutes - if y'all see other libraries to get good user agent strings (or even more active forks to the one I've already picked) please share! It's an important piece of the library and my biggest concern to have working well.

[2022-08-22 14:55] vsoch commented on #99
okay, new action is released - master branch and version 0.0.33.

[2022-11-15 12:32] vsoch commented on #99
This is now doubly fixed to restore the original fake-useragent, which since has two releases on pypi.Thanks!